resource-to-agent-relationship/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1"
  elementFormDefault="qualified"
  targetNamespace="https://schema.ccmm.cz/resource-to-agent-relationship"
  xmlns:ccmm-agent="https://schema.ccmm.cz/agent"
  xmlns:ccmm-rtar="https://schema.ccmm.cz/resource-to-agent-relationship"
  xmlns:ccmm-rart="https://schema.ccmm.cz/resource-agent-role-type"
  xmlns:sawsdl="http://www.w3.org/ns/sawsdl">
  <xs:import namespace="https://schema.ccmm.cz/agent" schemaLocation="../agent/schema.xsd"/>
  <xs:import namespace="https://schema.ccmm.cz/resource-agent-role-type"
    schemaLocation="../resource-agent-role-type/schema.xsd"/>
  <xs:complexType name="resource_to_agent_relationship"
    sawsdl:modelReference="https://model.ccmm.cz/vocabulary/ccmm#ResourceToAgentRelationship">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Resource to agent relationship - An association class for
        attaching additional information to a relationship between Resource and Agent.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iri" type="xs:anyURI"/>
      <xs:element name="role" type="ccmm-rart:resource_agent_role_type"
        sawsdl:modelReference="http://www.w3.org/ns/dcat#hadRole">
        <xs:annotation>
          <xs:documentation xml:lang="cs"> sehraná role - Funkce entity či agenta ve vztahu k jiné
            entitě či zdroji. </xs:documentation>
          <xs:documentation xml:lang="da"> havde rolle - Den funktion en entitet eller aktør har i
            forhold til en anden ressource. </xs:documentation>
          <xs:documentation xml:lang="en"> had role - The function of an entity or agent with
            respect to another entity or resource. </xs:documentation>
          <xs:documentation xml:lang="es"> La función de una entidad o agente con respecto a otra
            entidad o recurso. </xs:documentation>
          <xs:documentation xml:lang="it"> tiene rol - La funzione di un'entità o un agente rispetto
            ad un'altra entità o risorsa. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="relation" type="ccmm-agent:agent"
        sawsdl:modelReference="http://purl.org/dc/terms/relation">
        <xs:annotation>
          <xs:documentation xml:lang="en"> has related agent - Specifies the agent an a given role
            in the relationship with the resource. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="resource_to_agent_relationship" type="ccmm-rtar:resource_to_agent_relationship"
  />
</xs:schema>
